:root {
    --dark-bg: #331b2b;
    --middle-bg: #4f3848;
    --light-bg: #6c5966;

    --dark-font: ;
    --light-font: rgb(219, 219, 196)
}

@font-face {
    font-family: 'rubik-regular';
    src: url('../fonts/rubik-regular-webfont.woff') format('woff2'),
         url('../../fonts/rubik-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-black';
    src: url('../fonts/rubik-black-webfont.woff') format('woff2'),
         url('../fonts/rubik-black-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-bold';
    src: url('../fonts/rubik-bold-webfont.woff') format('woff2'),
         url('../fonts/rubik-bold-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-light';
    src: url('../fonts/rubik-light-webfont.woff') format('woff2'),
         url('../fonts/rubik-light-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    font-family: rubik-regular;
    color: var(--light-font);
    background-color: var(--middle-bg);
    margin: 0;
}

.wrapper {
    height: 100%;
}

/* -- TOP BAR -- */
.top-bar {
    height: calc(35px + 3vw);
    background-color: var(--medium-bg);
}

.logo {
    display: inline-block;
    margin-top: 5px;
    font-size: calc(25px + 3vw);
    color: var(--light-font);
    font-family: 'rubik-black';
}

.in-btn {
    display: float;
    float: right;
    text-align: center;
    width: 6vw;
    padding: 8px;
    margin: 0 15px 0 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 5px black;
    background-color: var(--dark-bg);
}

.flex-container {
    display: flex;
    /* min-height: 100% - top-bar height */
    min-height: calc(100% - (35px + 3vw));
}

/* -- LEFT MENU --*/
.left-menu {
    flex: 1;
    width: 25vw;
    background-color: var(--middle-bg);
}

.groups-container {
    height: 47%;
}

.groups {
    margin: 5px auto;
    padding: 8px;
    width: 80%;
    font-family: 'rubik-bold';
    font-size: calc(12px + 0.5vw);
    background-color: var(--light-bg);
    color: rgb(34, 34, 33);
    text-align: center;
    cursor: pointer;
}

.groups.selected {
    margin: 5px 0 5px auto;
    font-size: calc(14px + 0.5vw);
    width: 95%;
    text-align: right;
}

.upcoming-container {
    height: 47%
}

.header {
    padding: 10px;
    background-color: var(--dark-bg);
    font-family: 'rubik-bold';
    font-size: calc(15px + 0.5vw);
    text-align: center;
}

.add-group {
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    font-family: 'rubik-black';
    font-size: 28px;
    line-height: 16px;
    border: 2px solid var(--light-font);
    float: left;
    cursor: pointer;
}

.add-group:hover {
    background-color: var(--middle-bg);
    scale: 1.15;
}

.settings {
    height: 6%;
    background-color: var(--dark-bg);
}

/* -- MAIN -- */
.main {
    flex: 4;
    width: 65vw;
    background-color: var(--light-bg);
}

.add-entry {
    text-align: center;
    margin: 10px auto;
    width: 100px;
    background-color: var(--dark-bg);
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1 / span end;
}

.checkbox {
    height: 28px;
    width: 28px;
    background-color: var(--light-font);
    text-align: center;
    font-size: 30px;
    color: rgba(73, 73, 73, 0.301);
    cursor: pointer;
}

.checkbox:hover {
    color: var(--dark-bg);
}

.entry {
    display: grid;
    grid-template-columns: 7% 1fr 10%;
    grid-template-rows: 30% 1fr;
    margin: 10px auto;
    height: 100px;
    background-color: var(--dark-bg);
    width: 90%;
}

.title {
    font-family: 'rubik-bold';
    margin-top: 5px;
}

.title>hr {
    color: var(--light-font);
    border: none;
    border-top: 2px dashed var(--light-font);
    width: 100%;
}

.description {
    font-family: 'rubik-light';
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.due-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    grid-row: 1 / span end;
}

.month { font-size: 15px; }
.day { font-size: 24px; }
.time { font-size: 15px; }

/* Overlay Styles */

.curtain {
    box-sizing: border-box;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.37);
    transition: cubic-bezier(.53,.54,0,1) 0.6s;
}

.curtain.hidden {
    top: -100%;
}

.overlay-container {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    background-color: var(--light-font);
    box-shadow: 4px 4px 8px rgba(31, 31, 31, 0.712);
    overflow-y: auto;
}

.overlay-close {
    color: var(--dark-bg);
    height: 15px;
    width: 15px;
    font-size: 21px;
    line-height: 11px;
    font-family: 'rubik-black';
    margin: 10px;
    padding: 5px;
    border: 4px solid var(--dark-bg);
    border-radius: 50%;
    text-align: center;
    float:right;
}

.overlay-close:hover {
    color: var(--middle-bg);
    border: 4px solid var(--middle-bg);
    scale: 1.1;
}
