:root {
    --dark-bg: #331b2b;
    --middle-bg: #4f3848;
    --light-bg: #6c5966;

    --dark-font: ;
    --light-brown: rgb(211, 211, 187);
}

@font-face {
    font-family: 'rubik-regular';
    src: url('../fonts/rubik-regular-webfont.woff') format('woff2'),
         url('../../fonts/rubik-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-black';
    src: url('../fonts/rubik-black-webfont.woff') format('woff2'),
         url('../fonts/rubik-black-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-bold';
    src: url('../fonts/rubik-bold-webfont.woff') format('woff2'),
         url('../fonts/rubik-bold-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubik-light';
    src: url('../fonts/rubik-light-webfont.woff') format('woff2'),
         url('../fonts/rubik-light-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Scroll bar styling */
body::-webkit-scrollbar { width: 11px; }
body::-webkit-scrollbar-track { background: var(--light-bg); }
body::-webkit-scrollbar-thumb {
background-color: var(--middle-bg) ;
border-radius: 6px;
border: 3px solid var(--light-bg);
}

html, body {
    height: 100%;
    font-family: rubik-regular;
    color: var(--light-brown);
    background-color: var(--middle-bg);
    margin: 0;

    scrollbar-width: thin;
    scrollbar-color: var(--middle-bg) var(--light-bg);
}

.wrapper {
    height: 100%;
}

/* -- TOP BAR -- */
.top-bar {
    height: calc(35px + 3vw);
    background-color: var(--medium-bg);
}

.logo {
    display: inline-block;
    margin-top: 5px;
    font-size: calc(25px + 3vw);
    color: var(--light-brown);
    font-family: 'rubik-black';
}

.in-btn {
    display: float;
    float: right;
    text-align: center;
    width: 6vw;
    padding: 8px;
    margin: 0 15px 0 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 5px black;
    background-color: var(--dark-bg);
}

.flex-container {
    display: flex;
    /* min-height: 100% - top-bar height */
    height: calc(100% - (35px + 3vw));
}

/* -- LEFT MENU --*/
.left-menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 25vw;
    background-color: var(--middle-bg);
}

.groups-container {
    flex: 4;
}

.groups {
    margin: 5px auto;
    padding: 8px;
    width: 80%;
    font-family: 'rubik-bold';
    font-size: calc(12px + 0.5vw);
    background-color: var(--light-bg);
    color: rgb(34, 34, 33);
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}

.groups:hover {
    background-color: #816c7a;
    scale: 1.05;
}

.groups.active {
    margin: 5px 0 5px auto;
    font-size: 140%;
    width: 95%;
    text-align: right;
}

.groups.active:hover {
    background-color: var(--light-bg);
    scale: 1;
}

.upcoming-container {
    flex: 2;
}

.header {
    padding: 10px;
    background-color: var(--dark-bg);
    font-family: 'rubik-bold';
    font-size: calc(15px + 0.5vw);
    text-align: center;
}

.add-group {
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    font-family: 'rubik-black';
    font-size: 28px;
    line-height: 16px;
    border: 2px solid var(--light-brown);
    float: left;
    cursor: pointer;
}

.add-group:hover {
    background-color: var(--middle-bg);
    scale: 1.15;
}

.settings {
    background-color: var(--dark-bg);
}

/* -- MAIN -- */
.main {
    flex: 4;
    width: 65vw;
    background-color: var(--light-bg);
}

.add-task {
    text-align: center;
    margin: 10px auto;
    width: 100px;
    background-color: var(--dark-bg);
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    border-radius: 3px;
}

.add-task:hover {
    background-color: var(--middle-bg);
    scale: 1.05;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1 / span end;
}

.checkbox {
    height: 28px;
    width: 28px;
    background-color: var(--light-brown);
    text-align: center;
    font-size: 30px;
    color: rgba(73, 73, 73, 0.301);
    cursor: pointer;
}

.checkbox:hover {
    color: var(--dark-bg);
}

.task {
    display: grid;
    grid-template-columns: 7% 10% 1fr;
    grid-template-rows: 30% 1fr;
    margin: 10px auto;
    height: 100px;
    background-color: var(--light-brown);
    color: var(--middle-bg);
    width: 90%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
    border-radius: 3px;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--middle-bg);
    width: 100%;
    height: 80%;
}

.title {
    font-family: 'rubik-bold';
    margin-top: 5px;
    font-size: 24px;
    margin-left: 10px;
}

.title>hr {
    border: none;
    border-top: 2px dashed var(--middle-bg);
    margin:0;
    width: 100%;
}

.description {
    font-family: 'rubik-light';
    margin: 10px 0 10px 10px;
    overflow: hidden;
}

.due-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1 / span end;
    background-color: var(--middle-bg);
    color: var(--light-brown);
}

.due-date>hr {
    margin: 4px 0 4px 0;
    border: none;
    border-top: 2px dashed var(--light-brown);
    width: 50%;
}

.month { font-size: 15px; }
.date { font-size: 24px; }
.time { font-size: 15px; }
.day { font-size: 14px; }

/* Overlay Styles */

.curtain {
    box-sizing: border-box;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.37);
    transition: cubic-bezier(.53,.54,0,1) 0.6s;
}

.curtain.hidden {
    top: -200%;
}

.overlay-container {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    background-color: var(--light-brown);
    box-shadow: 4px 4px 8px rgba(31, 31, 31, 0.712);
    overflow: auto;
}

.overlay-container>hr {
    margin-bottom: 20px;
    color: var(--middle-bg);
    border: none;
    border-top: 4px dashed var(--middle-bg);
    border-bottom: 4px dashed var(--middle-bg);
    width: 100%;

}

.overlay-close {
    color: var(--middle-bg);
    height: 15px;
    width: 15px;
    font-size: 21px;
    line-height: 11px;
    font-family: 'rubik-black';
    margin: 10px;
    padding: 5px;
    border: 4px solid var(--middle-bg);
    border-radius: 50%;
    text-align: center;
    float:right;
}

.overlay-close:hover {
    color: var(--light-bg);
    border: 4px solid var(--light-bg);
    scale: 1.1;
}

.overlay-title {
    font-family: 'rubik-black';
    font-size: 45px;
    padding: 4px;
    margin: 0 15px 0 0;
    color: var(--middle-bg);
}

.overlay-form {
    display: grid;
    grid-template-columns: 30% 1fr;
    column-gap: 15px;
    row-gap: 25px;
    margin: 15px 15px 30px 0;
    align-items: center;
}

.overlay-form>h1 {
    font-family: 'rubik-black';
    font-size: 28px;
    padding: 4px;
    margin: 0;
    text-align: right;
    background-color: var(--middle-bg);
    color: var(--light-brown);
}   

.overlay-form input,select{
    height: auto;
    font-family: 'rubik-light';
    font-size: 19px;
    padding: 1px 0 1px 5px;
    border: 2px solid var(--light-bg);
    border-radius: 10px;
    background-color: rgb(241, 241, 233);
}

.overlay-form input:focus,select:focus {
    border: 2px solid var(--middle-bg);
    box-shadow: 0 0 5px rgb(88, 88, 88);
    transition: 0.5s;
    background-color: rgb(250, 250, 244);
}

.reminder-tag {
    font-size: 25px;
    font-family: 'rubik-bold';
    color: var(--middle-bg);
}
